* {
    font-family: 'Nunito', sans-serif  !important;
    -webkit-font-family: 'Nunito', sans-serif  !important;
    font-weight: 200;
    -webkit-font-weight: 200 !important;
    -webkit-font-smoothing: antialiased;
    color:#537885 !important;

}

.container {
    max-width: 900px !important;
}

.bg-light {
    background-color: #F6F8F9  !important;
}

.nav li a:hover{
  transform: scale(1.1);
}

.logo-cont {
    flex-wrap: nowrap;
    font-size: 30px;
    
    
}

.logo-cont > * {
    transform: rotateZ(40deg);
}
.rotated{
    transition: 0.5s all ease;
}

.logo-cont:hover > * {
    transform: rotateZ(0deg);
}

.back-cont {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.next-cont {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px !important;
}

.back-text {
    font-size: 1.2rem;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 18px;
}

.back-text> a {
    text-decoration: none;
    color:#537885 !important;
}

.back-text > a:hover {
    transform: scale(1.1);
}



.arrow-back {
    transform: rotate(90deg);
    margin-right: 10px;
}

.arrow-next {
    transform: rotate(-90deg);
    margin:0 10px;
}

.page-head {
    margin-top: 30px;
}


.text-custom {
    color :#537885 !important;
    line-height: 1.2;
}




 
 .btn-more {
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 14px;
 
 }





.home-box > .box {
    position:relative;
    animation-name: contentBack;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
}


    @keyframes contentBack {
        0% { left: 300px; }
        100% { left: 0;}
        }



 .home-box {
    transition: all 0.1s;
    margin-top: 50px !important;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden !important;
 }
 
 
 .box {
    transition: all 0.3s;
    /* width: min-content; */
    color :#537885 !important;
    padding: 50px 50px 50px 100px;
 
 }



 




 .box-even {
    transition: all 0.3s;

    color :#537885 !important;
    padding: 50px 100px 50px 50px;
    text-align: right;
 }

 .box-even-anim {
    transition: all 0.3s;
    color :#537885 !important;
    padding: 50px 100px 50px 50px;
    text-align: center;
 }

 .home-box > .box-even {
    position:relative;
    animation-name:evencontentBack;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
 }




    @keyframes evencontentBack {
        0% { right: 300px; }
        100% { right: 0;}
        }

 .cont-feature {
    filter: drop-shadow(1.2px 1.5px 1.4px #aaaaaa);
    padding: 0px 80px 0 80px;
    
 }

.nav-item > .active::after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    border-bottom: 1px solid black; 
 }

 .cont-image {
    filter: drop-shadow(1.2px 1.5px 1.4px #aaaaaa);
    padding: 0px 80px 0 80px;
 }

 .home-box-two {
    margin-top: 20px !important;
    overflow: hidden !important;
    margin-bottom: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-icon-master {
    display:flex;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.info-icon {
    display:flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.info-icon > h6 {
    margin-bottom: 0px !important;
}

.info-text-master {
    display:flex;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.info-text {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
}

.info-text > h4,p {
    margin-bottom: 10px !important;
}


.moboAssets {
    display:none;
}

@media only screen and (max-width: 600px) {

    body {
        margin:10px !important;
    }
    .deskAssets {
        display: none !important;
    }
    .moboAssets {
        display: block;
    }


   /*  .moboAssets > image {
        max-width:100%;
        object-fit: contain;
    height:auto;
    } */


    .svg-container { 
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%; 
        vertical-align: middle; 
        overflow: hidden; 
    }

    .svg-content { 
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .home-box-two {
        width: 100%;

    }

    .home-box {
        flex-direction: column;
        overflow-y: hidden;
    }

    
    .home-box:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px !important;
    }

    .box-even {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px !important;
    }

    .cont-feature {
        filter: none !important;
    }
  }


  nav {
   width: 100%;
   height: 5vh;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}



ul {
   display: flex;
   text-align: center;
}

.nav-list {
   list-style: none;
   margin: 25px;
}

.nav-item {
   text-decoration: none;
   font-size: 20px;
   color: rgb(177, 182, 209);

}

.logo h3 {
   font-size: 30px;
   font-weight: 300;
   letter-spacing: 5px;
   color: rgb(107, 136, 194);
}

.burger {
   display: none;
   cursor: pointer;
}

.burger div {
   width: 25px;
   height: 2px;
   background-color: rgb(255, 255, 255);
   margin: 5px;
}

@media (max-width: 900px) {
   nav {
      padding: 10px 0;
      display: flex;
    
      height: max-content;
   }

   .burger {
      display: block;
      position: absolute;

      top: 13px;
      right: 10px;
   }

   ul {
      display: none;


   }

   .toggle {
      display: block;
   }

   .nav-list:last-of-type {
      margin-bottom: 15px;
   }


}










li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
} */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #537885 !important;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul {
    margin: 0px !important;
}


.nav-link{
    font-size: 1.1rem;
    font-weight: 300;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}


@media only screen and (max-width: 768px) {
.container {
    width: 90% !important;
}

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



@media only screen and (min-width: 1024px) {

    .home-box:hover> .box > a > .btn-more {
        background-color: #537885 !important;
        color: white !important;
    
        
     }
    
     .home-box:hover> .box-even > a > .btn-more {
        background-color: #537885 !important;
        color: white !important;
    
        
     }
     
    
    
     .home-box:hover > .box {
    
        transform: scaleY(0.8)  !important;
        position:relative;
        animation-name:content;
        animation-duration:0.3s;
        animation-fill-mode:forwards;
        padding-left: 50px !important;
    }
    
    @keyframes content {
        0% { left: -300px; }
        100% { left: 0;}
        }
    
     .home-box:hover {
        transform: scaleY(1.3);
        justify-content: center;
        box-shadow: 0px 2px 3px #aaaaaa;
        text-align: center;
    
     }
    
     .home-box:hover > .cont-feature  {
         display: none !important;
     }
    
     .home-box:hover>.box-even {
        padding-right: 50px  !important;
         transform: scaleY(0.8)  !important;
       text-align: center;
       position:relative;
        animation-name:evencontent;
        animation-duration:0.3s;
        animation-fill-mode:forwards;
     }
    
     @keyframes evencontent {
        0% { right: -300px; }
        100% { right: 0;}
        }
    
    
    
}